
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900");
@import url(https://fonts.googleapis.com/css2?family=PT+Sans&display=swap);
/*+++GENERAL+++*/
html {
   
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'PT Sans', 'Source Sans Pro', sans-serif;
    font-weight: 400;
    /*color: #444;*/
    
}
ul li {
    list-style: none;
}
h1 {
    font-size: 2em;
    padding: 1em;
    text-transform: uppercase;
}
h2 {
    font-size: 1.5em;
    padding: 0.7em;
}
a {
    text-decoration: none;
    color: white;
}
.center {
    text-align: center;
}
.bottom {
    
}
/*+++COLUMNS+++*/
.col2 {
    display: grid;
    column-count: 2;
    grid-column-gap: 3em;
    grid-template-columns:  repeat(auto-fit,minmax(300px, 1fr));
    
}
.col3 {
    display: grid;
    column-count: 3;
    grid-template-columns:  repeat(auto-fit,minmax(250px, 1fr));
    grid-column-gap: 3em;
}
.col4 {
    display: grid;
    column-count: 4;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-column-gap: 3em;
}


/*+++WRAPPER+++*/
.wrapper {
    min-height: 100vh;
    /*min-width: 100vw;*/
    width: 100%;
    padding: 5vh 5vw 15vh;
    
}
/*+++HOME+++*/
.wrapper.home {
    background-image: url(../images/Logo_NFSK_V2.png), url(../images/banner.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: 30%, cover;
    min-width: 250px;
    padding: 2vh 5vw 0vh;
    text-transform: uppercase;
    font-weight: 300;
}
.wrapper.home2 {
    min-height: inherit;
    min-width: 250px;
    padding: 2vh 5vw 0vh;
    text-transform: uppercase;
    font-weight: 300;
}
/*+++KANAL+++*/
.wrapper.kanal {
    
}
/*+++VEREIN+++*/
.wrapper.verein {
    background: #555555;
    color: white;
}
/*+++KONTAKT+++*/
.wrapper.contact {
    background: #555555;
    color: white;
    padding: 10px;
    
}
.verein .button a {
    visibility: hidden;
    background-color: #bbbbbb;
  color: #555555;
}
.verein .button a:hover, .verein .button a:active {
    background-color: #ddd;
}
/*+++MITMACHEN+++*/
.wrapper.mitmachen {
    background: cornflowerblue ;
    color: white;
    text-align: center;
}
.wrapper.similar {
    
}
/*+++KONTAKT+++*/

.contact {
    background: #555555;
    color: white;
    min-height: 50px;
    
}
.contact a {
    padding: 0 40px;
    opacity: 0.8;
    
}
.contact a:hover {
    opacity: 1;
}
/*+++FOOTER+++*/
.wrapper.footer {
    min-height: 0;
    padding: 20px;
}
.wrapper.footer * {
    padding: 0 45px;
    color: black;
}
/*+++BILDER+++*/
.wrapper.galerie {
    background: #82b440;
    color: white;
}


.wrapper.details .fas, h3 {
    display: inline-block;
    white-space: nowrap;
    color: #82b440;
    padding: 5px 20px 10px;
}


/*+++HEADER+++*/
header {
    padding-bottom: 4vw;
}
header h1 {
    text-transform: uppercase;
}
header p {
    font-size: 1.2em;
}


/*+++BUTTON+++*/
.button { 
    text-align: center;
    padding: 3em 0 1em;
}
.button a {
  background-color: #82b440;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
    text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
}

.button a:hover , .button a:active  {
  background-color: #72a430;
}
