
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900");
@import url(https://fonts.googleapis.com/css2?family=PT+Sans&display=swap);

/*+++GENERAL+++*/
html {
   
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'PT Sans', 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1em;
    /*color: #444;*/
    
}

h1,h2 {
    font-size: 2em;
    padding: 1em;
    text-transform: uppercase;
}
h3 {
    font-size: 1.5em;
    padding: 0.7em;
}
a {
    text-decoration: underline;
    color: white;
    opacity: 0.8;
}
a:hover, a:active {
    opacity: 1;
}
hr {
    margin: auto 10px 20px;
}
.center {
    text-align: center;
}

strong {
    font-weight: bolder;
}
/*+++GRID+++*/
.col2 {
    display: grid;
    column-count: 2;
    grid-column-gap: 3em;
    grid-template-columns:  repeat(auto-fit,minmax(300px, 1fr));
    
}
.col3 {
    display: grid;
    column-count: 3;
    grid-template-columns:  repeat(auto-fit,minmax(250px, 1fr));
    grid-column-gap: 3em;
}
.col4 {
    display: grid;
    column-count: 4;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-column-gap: 3em;
}



/*+++WRAPPER+++*/
.wrapper {
    min-height: 100vh;
    /*min-width: 100vw;*/
    width: 100%;
    padding: 5vh 5vw 15vh;
    
}
/*+++HOME+++*/

.wrapper.home {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*min-width: 250px;*/
    padding: 2vh 5vw 0vh;
    text-transform: uppercase;
    font-weight: 300;
}

.logo {
    height: 90vh;
    background-image: url(../images/logo/Logo_NFSK_RGB_V2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35vh;
}

/*+++HOME Unterseiten+++*/
.wrapper.home2 {
    min-height: inherit;
    min-width: 250px;
    padding: 2vh 5vw 0vh;
    text-transform: uppercase;
    font-weight: 300;
}

/*+++KANAL+++*/
.wrapper.kanal {
    
}
.kanal a {
    color: black;
    font-weight:bold;
}

/*+++VEREIN+++*/
.wrapper.verein {
    background: #444444;
    background: radial-gradient(#666666, #444444);
    color: white;
}
.verein .button a {
    background-color: #bbbbbb;
    color: #555555;
}
.verein .button a:hover, .verein .button a:active {
    background-color: #ddd;
}


/*+++MITMACHEN+++*/
.wrapper.mitmachen {
    /*background: cornflowerblue;*/
    background: #004E9A;
    background: radial-gradient(#226FBD, #004E9A);
    color: white;
    text-align: center;
    min-height: 30vh;
}

.mitmachen .col4 {
    column-gap: 10px;
}
.mitmachen .col4 > div {
    display: grid;
    /*align-items: end;*/
    border: 1px solid white;
    border-radius: 4px;
    margin: 5px;
    padding: 15px;
    align-content: flex-start;
}

.mitmachen .col4 > div > div {
    box-sizing: border-box;
}
.mitmachen a, .mitmachen h3 {
    display: inline-block;
    white-space: nowrap;
} 

.mitmachen .top {
    /*align-self: start;
    border: 1px solid red;*/
    
}
.mitmachen .bottom {
    /*align-self: top;
    border: 1px solid black;  */  
}
.mitmachen a, .mitmachen button {
    margin: auto 40px 0px;
    opacity: 0.8;
    font-size: 3em;
    border: none;
    background: none;
    color: inherit;
}
.mitmachen a:hover, .mitmachen a:active,
.mitmachen button:hover, .mitmachen button:active {
    opacity: 1;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}
.mitmachen p {
    margin-top: 5px;
    margin-bottom: 10px;
}

/*+++PROJEKTE+++*/
.wrapper.projekte {
    min-height: 0;
}
.projekte a {
    color: black;
    opacity: 1;
}

/*+++GALERIE+++*/
.wrapper.galerie {
    /*background: #82b440;*/
    background: #3CA432;
    background: radial-gradient(#5EC654, #3CA432);
    color: white;
    
}
.carpet {
    width: 100%;
    height: 500px;
    /*height: 0;
    padding-bottom: 15%;*/
    overflow-x: scroll;
    overflow-y: visible;
    border-radius: 4px;
    border: 5px solid white;
    background-color: white;
}
.carpet img {
    transition: width 3s ease;
    height: 100%;
    width: auto;
    
}
.carpet img:hover {
    height: 700px;
    width: auto;
}
.galerie .button a {
    background-color: #bbbbbb;
    color: #555555;
}
.verein .button a:hover, .verein .button a:active {
    background-color: #ddd;
}
/*+++KONTAKT+++*/
.wrapper.contact {
    background: #555555;
    color: white;
    padding: 50px;
   min-height: 5em;
}


.contact a {
    margin: auto 40px 10px;
    opacity: 0.8;
    font-size: 3em;
    text-decoration: none;
}
.contact a:hover, .contact a:active {
    opacity: 1;
}
.contact p {
    font-size: 0.3em;
    margin-top: 5px;
    
}


/*+++FOOTER+++*/
.wrapper.footer {
    background: #555555;
    color: white;
    padding: 10px;
    min-height: 50px;
    
}
.footer a {
    margin: auto 40px 10px;
    opacity: 0.8;
    text-decoration: none;
}
.footer a:hover, .footer a:active {
    opacity: 1;
}
.footer ul li {
    list-style: circle;
    margin-left: 40px;
}
.footer strong {
    font-weight: bolder;
}



/*+++DETAILS.HTML+++*/
.wrapper.details .fas, .wrapper.details h3 {
    display: inline-block;
    white-space: nowrap;
    color: #82b440;
    font-size: 1.1em;
    padding: 5px 20px 10px;
}



/*+++HEADER+++*/
header {
}
header h1,header h2 {
    text-transform: uppercase;
}
header p {
    font-size: 1.2em;
    margin-bottom: 30px;
}


/*+++BUTTON+++*/
.button { 
    text-align: center;
    padding: 3em 0 1em;
}
.button a {
    background-color: #82b440;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 4px;
}
.button a:hover , .button a:active  {
    background-color: #72a430;
}
