/* https://webdesign.tutsplus.com/de/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535 */
/* Basic styling */
nav {
  background: #444;
  opacity: 0.8;
    
    
}

nav ul {
  list-style-type: none;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  /*text-decoration: underline;*/
    
}
nav .logo a:hover {
  text-decoration: none;
}
nav .menu li {
  font-size: 16px;
  padding: 5px 15px;
  white-space: nowrap;
    
}
nav .logo a,
nav .toggle a {
  font-size: 20px;
}

nav img {
    display: flex;
    height: 20px;
    width: auto;
}

/* Mobile menu */
nav .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav .toggle {
    order: 1;
    
}
nav .item {
  width: 100%;
  order: 3;
  display: none;
}
nav .item.active {
  display: block;
}
/* Tablet menu */
@media all and (min-width: 600px) {
  nav .menu {
    justify-content: center;
      /*padding: 5px 100px 5px 30px;*/
  }
  nav .logo {
    flex: 1;
  }
  nav .toggle {
    flex: 1;
    /*text-align: right;*/
  }  
  nav .toggle {
    order: 1;
  }
}
/* Desktop menu */
@media all and (min-width: 900px) {
  nav .item {
    display: block;
    width: auto;
  }
  nav .toggle {
    display: none;
  }
  nav .logo {
    order: 1;     
  }
  nav .item {
    order: 1;
  }
  nav .item:after{
    content: '\00B7';
    padding-left: 15px;
    position: absolute;
    color: white;
    }
    nav .item:last-child:after {
        content: none;
    }
}

